	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}

	.image.fit img {
		width: 100%;
		height: auto;
	}
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 3em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1.5em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #FFF;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #333333;
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-radius: 40px;
		text-align: center;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

	form
	{
	}

	form label
	{
		display: block;
		text-align: left;
		margin-bottom: 0.5em;
	}

	form .submit
	{
		margin-top: 2em;
		background: #8DCB89;
		border-radius: 8px;
		line-height: 1.5em;
		font-size: 1.3em;
	}

	form input.text,
	form select,
	form textarea
	{
		position: relative;
		-webkit-appearance: none;
		display: block;
		border: 0;
		background: #fff;
		background: rgba(255,255,255,0.75);
		width: 100%;
		border-radius: 0.50em;
		margin: 1em 0em;
		padding: 1.50em 1em;
		box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
		border: solid 1px rgba(0,0,0,0.15);
		-moz-transition: all 0.35s ease-in-out;
		-webkit-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
		-ms-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1em;
		outline: none;
	}

	form input.text:hover, form select:hover, form textarea:hover
	{
	}

	form input.text:focus, form select:focus, form textarea:focus
	{
		box-shadow: 0 0 2px 1px #E0E0E0;
		background: #fff;
	}
			
	form textarea
	{
		min-height: 12em;
	}

	form .formerize-placeholder
	{
		color: #555 !important;
	}

	form ::-webkit-input-placeholder
	{
		color: #555 !important;
	}

	form :-moz-placeholder
	{
		color: #555 !important;
	}

	form ::-moz-placeholder
	{
		color: #555 !important;
	}

	form :-ms-input-placeholder
	{
		color: #555 !important;
	}

	form ::-moz-focus-inner
	{
		border: 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 2em 0em;
		background: #8DCB89;
	}

/*********************************************************************************/
/* Container                                                                       */
/*********************************************************************************/

	.container
	{
		margin: 0px auto;
		width: 1200px;
		text-align: center;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
		border-radius: 5px;
	}

	#menu li:hover
	{
		background: #6FC06A;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 0.8em 1em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: 800;
		text-transform: uppercase;
		outline: 0;
		color: #FFF;
	}
	
	/*
	#menu .current_page_item a
	{
		background: #6FC06A;
		border-radius: 8px;
		color: #FFF;
	}
	*/

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 0em 0em;
		text-align: center;
	}

	#logo h1
	{
		font-size: 3.5em;
		margin-block-start: 0em;
		margin-block-end: 0em;
	}

	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}

	#logo span
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: rgba(255,255,255,0.5);
	}

/*********************************************************************************/
/* Column in Header                                                              */
/*********************************************************************************/

	#header .column1, #header .column2, #header .column3, #header .column4
	{
		margin-block-start: 3em;
		width: 282px;
	}
	
	#header .column1, #header .column2, #header .column3
	{
		float: left;
		margin-right: 24px;
	}
	
	#header .column4
	{
		float: right;
	}

	#header .box
	{
		text-align: center;
		color: rgba(255 255 255);
	}

	#header .button-small
	{
		padding: 0.8em 1em;
		background: #8DCB89;
		border-radius: 5px;
		line-height: 1.8em;
		font-size: 1em;
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}

	#header .button-small:hover
	{
		padding: 0.8em 1em;
		background: #6FC06A;
		border-radius: 5px;
		line-height: 1.8em;
		font-size: 1em;
	}








/* start here */














	




	

	


/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/
/*
	#wrapper1
	{
		background: #242424;
	}

	#wrapper2
	{
		background: #EDEDED;
	}

	#wrapper3
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #FFF;
	}
	
	#wrapper4
	{
		overflow: hidden;
		padding: 8em 0em;
		background: #E74E59;
	}






/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
/*
	#footer
	{
		text-align: center;
	}

	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}





